@page "{code?}"
@model IndexModel

<article>
    <section class="item-details">
        <h1><movie-title movie-id="@Model.MovieId"></movie-title></h1>
        <session-details show-id="@Model.ShowId" session-id="@Model.SessionId" seat-code="@Model.Code"></session-details>
    </section>
    <form asp-page-handler="Buy"
          asp-route-code="@Model.Code"
          asp-route-movieId="@Model.MovieId"
          asp-route-showId="@Model.ShowId"
          asp-route-sessionId="@Model.SessionId">
        <fieldset name="credit-card-info">
            <partial template="_creditCard" for="Checkout.CreditCardDetails" value="@Model?.CurrentCustomer?.CreditCard"></partial>
            <p>
                <label asp-for="Checkout.SaveNewCreditCardDetails">Save new credit card details</label>
                <input type="checkbox" asp-for="Checkout.SaveNewCreditCardDetails" />
            </p>
        </fieldset>
        <select id="billing-address-select">
            @for (var i = 0; i < Model.BillingAddresses.Length; i++)
            {
                <option selected="@(i == 0)" value="@i">@(Model.BillingAddresses[i].Street)</option>
            }
            <option value="@(Model.BillingAddresses.Length)" selected="@(Model.BillingAddresses.Length == 0)">New</option>
        </select>
        @for (var i = 0; i < Model.BillingAddresses.Length; i++)
            {
                var billingAddress = Model.BillingAddresses[i];
            <fieldset class="@(i == 0 ? "address-selected" : "")" name="billing-address-@i">
                <partial for="Checkout.BillingAddress" template="_billingAddress" value="billingAddress"></partial>
            </fieldset>
        }
        <fieldset class="@(Model.BillingAddresses.Length == 0 ? "address-selected" : "")" name="billing-address-@Model.BillingAddresses.Length">
            <partial for="Checkout.BillingAddress" template="_billingAddress" value="null"></partial>
        </fieldset>
        <input type="submit" value="buy" />
    </form>
        <script type="text/javascript" dom-ready="true">
            site.setupAddressSelector();
        </script>
</article>