@page "{id}"
@model IndexModel
@{
    Layout = "_Layout";
    var location = Model.CurrentShow.Theater.Location;
    var zones = Model.CurrentShow.Theater.Zones;
    var theater = Model.CurrentShow.Theater;
}

<article>
    <h1>@Model.CurrentShow.Theater.Name</h1>
    <p>@location.Street, @location.City @location.Province @location.ZipCode</p>
    <style type="text/css">
        .zones {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        div[class^="zone-"] ~ div[class^="zone-"] {
            margin-left: 10px;
        }

        .seat {
            width: 2em;
            height: 2em;
            margin: 1px;
            fill: rgba(0, 0, 0, 0.00);
            stroke-width: 1px;
            stroke: black;
        }

        .seat-free{
            fill: green;
        }
    </style>

    <section class="zones">
        @for (int i = 0; i < zones; i++)
        {
            <style type="text/css">
                .zone-@i {
                    display: grid;
                    grid-template-columns: repeat(@theater.SeatsPerRow, 1fr);
                    justify-content: space-around;
                }
            </style>
            <div class="zone-@i">
                @foreach (var seat in Model.CurrentSession.Seats.Where(s => s.Zone == i).OrderBy(s => s.Number))
                {
                    @if (seat.Status == 0)
                    {
                    <a 
                       class="seat seat-free"
                       asp-page="/Billing/Checkout/Index"
                       asp-route-code="@seat.Code"
                       asp-route-movieId="@Model.CurrentShow.MovieId"
                       asp-route-showId="@Model.CurrentShow.Id"
                       asp-route-sessionId="@Model.CurrentSession.Id">
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect class="seat seat-free" />
                        </svg>
                    </a>
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <rect class="seat" />
                        </svg>
                    }
                }
            </div>
        }
    </section>
</article>
