@page "{id}"
@model IndexModel

<article class="artist-details">
    <section>
        <h1>@Model.Artist.PersonalInformation.GivenName @Model.Artist.PersonalInformation.LastName</h1>
        <img src="@Url.Content(Model.Artist.ImageUrl)" />
    </section>

    <section>
        <h2>Bio</h2>
        <p>@Model.Artist.PersonalInformation.Biography</p>
    </section>
    <section>
        <h2>Age</h2>
        <p>@Model.GetAge() (@Model.GetBirthDate())</p>
    </section>
    <section>
        <h2>Birth place</h2>
        <p>@Model.Artist.PersonalInformation.BirthPlace.City, @Model.Artist.PersonalInformation.BirthPlace.Country</p>
    </section>
    <section>
        <h2>Philmography</h2>
        @Html.Partial("_filmography", Model.GetFilmography());
    </section>
</article>