@page "{id}"
@model DetailsModel;

<article class="movie-details">
    <section>
        <h1>@Model.Movie.Title</h1>
        <img src="@Url.Content(Model.Movie.Details.PosterUrl)" />
    </section>
    <section>
        <h2>Plot</h2>
        <p>@Model.Movie.Description</p>
    </section>
    <section class="movie-details-details">
        <h2>Details</h2>
        <p><span>Language</span> @Model.Movie.Details.Language</p>
        <p><span>Country</span> @Model.Movie.Details.Country</p>
    </section>
    <section>
        <h2>
            <sessions-for-movie movie-id="Model.Id"></sessions-for-movie>
            <a asp-page="/Shows/Index" asp-route-movieId="@Model.Id">(View more)</a>
        </h2>
    </section>
    <section class="movie-comments">
        <h2>Reviews</h2>
        @Html.Partial("_reviews", Model.Comments)
    </section>
    <section>
        <h2>Cast</h2>
        @Html.Partial("_movieCast", Model.Artists)
    </section>
</article>