@page "{id}"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;
@inject CatalogContext Catalog;
@inject ReviewsContext Reviews;
@inject ShowsContext Shows;

@{
    Layout = "_Layout";
}

@functions{
    [BindProperty(SupportsGet = true)]
    public int Id { get; set; }

    public IList<Review> CreateFlattenedReviewsList(ICollection<Review> reviews)
    {
        if (reviews == null || reviews.Count == 0)
        {
            return Array.Empty<Review>();
        }

        var result = new List<Review>();
        foreach (var review in reviews.OrderBy(r => r.Details.PublishDate))
        {
            result.Add(review);
            result.AddRange(CreateFlattenedReviewsList(review.Replies));
        }

        return result;
    }

    public string CalculateTime(Review review)
    {
        var span = DateTimeOffset.UtcNow - review.Details.PublishDate;
        if (span.Days > 365)
        {
            return span.Days / 365 == 1 ? "1 year ago" : $"{span.Days / 365} years ago";
        }
        if (span.Days > 0)
        {
            return span.Days == 1 ? "1 day ago" : $"{span.Days} days ago";
        }
        if (span.Hours > 0)
        {
            return span.Hours == 1 ? "1 hour ago" : $"{span.Hours} hours ago";
        }
        if (span.Minutes > 0)
        {
            return span.Minutes == 1 ? $"1 minute ago" : $"{span.Minutes} minutes ago";
        }
        if (span.Seconds > 0)
        {
            return span.Seconds == 1 ? $"1 seconds ago" : $"{span.Seconds} seconds ago";
        }

        return "just now";
    }

    public async Task<IActionResult> OnPostDelete([FromForm] int commentId)
    {
        if (!ModelState.IsValid)
        {
            return Page();
        }

        var review = await Reviews.Reviews.FindAsync(commentId);
        if (!review.Details.AuthorId.Equals(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
        {
            return Page();
        }

        review.Details.Body = null;
        await Reviews.SaveChangesAsync();

        return RedirectToPage();
    }

    [Authorize]
    public async Task<IActionResult> OnPostComment([FromRoute] int id, [FromQuery]int? replyTo, [FromForm]string comment)
    {
        if (!ModelState.IsValid)
        {
            return Page();
        }

        if (!User.Identity.IsAuthenticated)
        {
            return Page();
        }

        var newReview = new Review()
        {
            Details = new ReviewDetails
            {
                Author = User.Identity.Name,
                AuthorId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value,
                Body = comment,
                PublishDate = DateTimeOffset.UtcNow
            },
            ReplyToId = replyTo,
            TopicId = id
        };

        Reviews.Reviews.Add(newReview);
        await Reviews.SaveChangesAsync();

        return RedirectToPage();
    }
}

@{
    var comments = await Reviews.Reviews.Where(r => r.TopicId == Id).ToListAsync();
    comments = comments.Where(c => c.ReplyTo == null).ToList();

    var movie = await Catalog.Movies.Where(m => m.Id == Id)
        .Include(m => m.Details)
        .Include(m => m.Cast)
        .ThenInclude(c => c.Artist)
        .ThenInclude(a => a.PersonalInformation)
        .ThenInclude(p => p.BirthPlace)
        .SingleOrDefaultAsync();

    var artists = movie.Cast.Select(c => c.Artist).ToList();
}

@{ 
    var playingOn = await Shows.Shows.Where(s => s.MovieId == Id).CountAsync();
}

<style>
    .movie-details h1, .movie-details > img {
        text-align: center;
        display: block;
        margin: auto;
    }

    .movie-details-details p span {
        font-weight: bold;
    }

    .cast {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content,200px));
        justify-content: space-between;
        padding-left: 0px;
        list-style-type: none;
    }

    .artist {
    }

        .artist img {
            width: 200px;
        }

    .movie-comments {
        width: 60%;
    }

    .movie-comment {
        background-color: lightgray;
    }

    .movie-comment-author {
        float: left;
    }

    .movie-comment > header {
        color: white;
        background-color: gray;
        overflow: auto;
    }

        .movie-comment > header a {
            color: white;
        }

    .movie-comment-details {
        font-size: 0px;
        float: right;
        display: inline-block;
    }

        .movie-comment-details * {
            font-size: 14px;
        }

        .movie-comment-details > span {
            float: right;
        }

    .movie-comment-remove {
        padding: 0px;
        margin: 0px;
        border: 0px;
        display: inline;
    }

        .movie-comment-remove * {
            padding: 0px;
            margin: 0px;
            border: none;
        }

        .movie-comment-remove > input[type=submit] {
            display: inline;
            background: none;
            border: none;
            font-size: 1em;
            color: white;
        }
</style>

<article class="movie-details">
    <h1>@movie.Title</h1>
    <img src="@Url.Content(movie.Details.PosterUrl)" />
    <h2>Plot</h2>
    <p>@movie.Description</p>
    <section class="movie-details-details">
        <h2>Details</h2>
        <p><span>Language</span> @movie.Details.Language</p>
        <p><span>Country</span> @movie.Details.Country</p>
    </section>
    <section>
        <h2>Playing on @playingOn theater@(playingOn > 1 ? "s" : "") <a asp-page="/Shows/Index" asp-route-movieId="@Id">(View more)</a></h2>
    </section>
    <section class="movie-comments">
        <h2>Reviews</h2>
        @{
            var i = 1;
        }

        <script type="text/javascript">
            var showCommentBox = function (i) {
                var checkbox = document.querySelector('#reply-comment-' + i);
                var box = document.querySelector('#comment-box-' + i);
                checkbox.addEventListener('change', function () {
                    box.classList.toggle('comment-box');
                });
            };
        </script>
        @{ 
            var flattenedReviews = CreateFlattenedReviewsList(comments);
        }
        @foreach (var review in flattenedReviews)
        {
            <section class="movie-comment">
                <header>
                    <a href="#@review.Id">#@review.Id @review.Details.Author</a>
                    <div class="movie-comment-details">
                        @if (User.Identity.IsAuthenticated && review.Details.AuthorId.Equals(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value))
                        {
                            <form class="movie-comment-remove" asp-page-handler="delete" asp-route-id="@Id">
                                <input type="hidden" name="CommentId" value="@review.Id" />
                                <input type="submit" value="Remove" />
                            </form>
                            <span>@CalculateTime(review)</span>
                        }
                        else
                        {
                            <span>@CalculateTime(review)</span>
                        }
                        @if (review.ReplyTo != null)
                        {
                            <br />
                            <span>Replies to <a href="#@review.ReplyToId">@review.ReplyTo.Details.Author</a></span>
                        }
                    </div>
                </header>
                <div class="movie-comment-content">
                    <p>@(review.Details.Body ?? "[deleted]")</p>
                    @if (review.Details.Body != null && User.Identity.IsAuthenticated)
                    {
                        <span class="movie-comment-reply">
                            <input id="reply-comment-@i" type="checkbox" />
                            <label for="reply-comment-@i">Reply</label>
                        </span>
                        <form id="comment-box-@i" class="comment-box" asp-page-handler="Comment" asp-route-id="@Id" asp-route-replyTo="@review.Id">
                            <textarea name="comment" class="comment-surface"></textarea>
                            <input type="submit" value="comment" />
                        </form>
                    }
                    <script type="text/javascript">
                    (function () {
                        document.addEventListener("DOMContentLoaded", function () {
                            showCommentBox(@i);
                        });
                    })();
                    </script>
                </div>
                @{i++;}
            </section>
         }
    </section>

    <style type="text/css">
        .movie-comment-content p {
            display: inline;
        }

        .movie-comment-reply {
            float: right;
        }

        .comment-box {
            display: none;
        }

        .comment-surface {
            width: 100%;
        }

        .movie-comment-reply * {
            margin: 0px;
            padding: 0px;
        }

        .movie-comment-reply input[type=checkbox] {
            display: none;
        }

            .movie-comment-reply input[type=checkbox]:checked + label {
            }
    </style>

    <h2>Cast</h2>
    <ul class="cast">
        @foreach (var artist in artists)
        {
            <li class="artist">
                <a asp-page="/Artists/Profile/Index" asp-route-id="@artist.Id"><img src="@Url.Content(artist.ImageUrl)" /></a>
                <p>
                    @artist.PersonalInformation.GivenName @artist.PersonalInformation.LastName <br />
                    @artist.PersonalInformation.BirthDate.ToString("MM/dd/yyyy"), @artist.PersonalInformation.BirthPlace.City, @artist.PersonalInformation.BirthPlace.Country
                </p>
            </li>
        }
    </ul>
</article>